html, body, .main {
  background-color: #f3f5f6;
}

.main-container-descricao {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.main-background-img {
  filter: opacity(10%);
  -webkit-filter: opacity(10%);
  width: 100%;
  margin-top: 5rem;
  max-height: 25rem;
  object-fit: contain;
}

.main-descricao {
  text-align: center;
}

.main-container-spinner {
  background-color: #f3f5f6;
  margin-top: 20rem;
}

.main-spinner {
  width: 4rem !important;
  height: 4rem !important;
}