.grid-fotos {
  padding-top: 5rem;
  background-color: #f3f5f6;
}

.grid-fotos-col {
  margin: 0.5rem 0;
}

.grid-fotos-card {
  width: 14rem;
  padding: 0.75rem 0.75rem 0rem 0.75rem;
}

.grid-fotos-card-img {
  height: 8rem;
  object-fit: cover;
}

.grid-fotos-card-body {
  padding-bottom: 0.5rem !important;
}

.grid-fotos-card-title {
  height: 2rem;
  overflow: hidden;
  text-overflow: clip;
  font-size: 0.75rem !important;
  font-weight: bold !important;
}